<div class="row">
  <div class="col-lg-4 ">
    <ul class="breadcrumb">
      <li><i class="fa fa-home"></i><a href="#">Analista</a></li>
      <li><a href="#">Procedencia de los artìculos</a></li>
      <li class="active">Analista</li>
    </ul>
  </div>
</div>
<!-- main -->
<div class="content">

  <div class="main-header">
    <h2>Analista</h2>
    <em>Sistema Dirección de Publicaciones</em>
  </div>
  <div class="main-content">
    <h3 (click)="modalAddProcedencia(modNuevaProcedencia)"><i class="fa fa-plus-circle" title="Agregar una Revista"></i> Agregar
      Procedencia</h3>
    <!-- DATA EXPORT -->
    <div class="widget widget-table">
      <div class="widget-header">
        <h3><i class="fa fa-calendar"></i> Procedencia de los artìculos</h3> <em> - Sistema Dirección de Publicaciones</em>
      </div>
      <div class="widget-content">
        <table datatable class="row-border hover table">
          <thead>
            <tr>

              <th>Nombre</th>
              <th>Descripcion</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let objUser of vecProcedencia">
              <td> {{objUser.strNombre}} </td>
              <td> {{objUser.strDescripcion}} </td>
              <td> {{objUser.detEstado }} </td>
              <td>
                <button style="margin-left: -10px;margin-right: -15px" class="btn btn-link" title="Editar "> <i
                    class="fa fa-pencil"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- END DATA EXPORT -->
  </div>

</div>
<!-- /main -->

<ng-template #modNuevaProcedencia let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Procedencia de los Articulos  </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <table id="tblSignos" style="width: 90%;">
      <tr>
        <td style="padding-left: 5%; width: 25%;">Nombre Procedencia: </td>
        <td style="padding-left: 5%; width: 75%;"> <input type="text" [(ngModel)]="vecBuscar[0]['strCedula']"
            placeholder="Nombre Procedencia" style="width: 100%; font-size: 14px;" /> </td>
      </tr>

      <tr>
        <td style="padding-left: 5%; width: 25%;">Descripcion: </td>
        <td style="padding-left: 5%; width: 75%;"> <input type="text" [(ngModel)]="vecBuscar[0]['strCargo']"
            placeholder="Descripcion" style="width: 100%; font-size: 14px; margin-top: 5px;" />
        </td>
      </tr>
      <tr>
        <td style="padding-left: 5%; width: 25%;">Estado: </td>
        <td style="padding-left: 5%; width: 75%;">
          <select class="txtSigno" style="margin-top: 5px; width: 75%;" [(ngModel)]="vecBuscar[0]['bitNombramiento']">
            <option value="0">NO ACTIVA </option>
            <option value="1">ACTIVO </option>
          </select>
        </td>
      </tr>

    </table>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" style="background-color: #394A59;">Guardar </button>
    <button type="button" class="btn btn-outline-dark" style="background-color: #D9534F;"
    (click)="cerrarModal()">Cancelar</button>
  </div>
</ng-template>

