<!doctype html>
<html lang="en" class="no-js">

<head>
    <title>ESPOCH | Dirección de Publicaciones</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="ESPOCH | Direccón de Publicaciones">
    <meta name="author" content="Publicaciones">

    <link rel="shortcut icon" href="assets/ico/favicon.png">

</head>

<body class="topnav-fixed">
    <div id="wrapper" class="wrapper">
        <app-admin-header></app-admin-header>
        <app-admin-slider></app-admin-slider>
        <app-admin-content></app-admin-content>
        <app-admin-footer></app-admin-footer>
    </div>
</body>

</html>
