
.btnActivo{
  background-color: lightgreen;
  text-align: center;
  display: inline-block;
  padding: 0.25em 0.4em;
  font-weight: 700;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem

  }

.btnNoActivo{
  background-color: lightcoral;
  text-align: center;
  display: inline-block;
  padding: 0.25em 0.4em;
  font-weight: 700;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem
  }
  .btnSiNombra{
    background-color: yellow;
    text-align: center;
    display: inline-block;
    padding: 0.25em 0.4em;
    font-weight: 700;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem

    }

  .btnNoNombra{
    background-color:aqua;
    text-align: center;
    display: inline-block;
    padding: 0.25em 0.4em;
    font-weight: 700;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem
    }
