<!doctype html>
<html lang="en" class="no-js">

<head>
    <title>ESPOCH | Sistema Dirección de Publicaciones</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="ESPOCH | Dirección de Publicaciones">
    <meta name="author" content="PUBLICACIONES">

    <link rel="shortcut icon" href="assets/ico/favicon.png">

</head>

<body class="topnav-fixed">
    <div id="wrapper" class="wrapper">
        <app-autor-header></app-autor-header>
        <app-autor-slider></app-autor-slider>
        <app-autor-content></app-autor-content>
        <app-autor-footer></app-autor-footer>
    </div>
</body>

</html>
