<aside class="main-sidebar">
  <div class="sidebar-minified">
    <i class="fa fa-exchange"></i>
  </div>
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">

      <br>
      <li class="liMenu"><a [routerLink]="['/autorInicio']"><i class="fa fa-dashboard"></i>
          <span>MENÚ PRINCIPAL</span></a></li>

      <li class="liMenu"><a [routerLink]="['/autorInicio/autorRegistro']"><i class="fa fa-dashboard"></i>
          <span>Articulos Registro</span></a></li>

      <li class="liMenu"><a [routerLink]="['/autorInicio/autorSolicitud']"><i class="fa fa-dashboard"></i>
          <span>Solicitudes</span></a></li>

      <!-- <li class="treeview">
        <a class="liMenu">
          <i class="fa fa-folder-open"></i> <span>Buscar</span> <span class="pull-right-container"> <i
              class="fa fa-angle-left pull-right"></i> </span>
        </a>
        <ul class="treeview-menu">
          <li class="liMenu"><a [routerLink]="['/inicio/modulo']"><i class="fa fa-circle-o"></i> Buscar Articulo </a>
          </li>
          <li class="liMenu"><a [routerLink]="['/inicio/modulo']"><i class="fa fa-circle-o"></i>Buscar Autor</a></li>

        </ul>
      </li> -->
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
